<nav style="background-color: pink; padding: 10px; text-align: center; border: 3px dotted green;">
    <a href="../../index.html" style="color: purple; text-decoration: blink; margin: 0 5px; font-family: 'Comic Sans MS';">HOME PAGE</a> |
    <a href="../../introduction.html" style="color: brown; text-decoration: overline; margin: 0 5px; font-family: Papyrus;">INTRODUCTION</a> |
    <a href="../../contract.html" style="color: orange; text-decoration: line-through; margin: 0 5px; font-family: 'Times New Roman';">CONTRACT</a> |
    <a href="../../tables.html" style="color: red; font-weight: bold; margin: 0 5px;">TABLES</a> |
    <a href="../../forms.html" style="color: blue; font-style: italic; margin: 0 5px;">FORMS</a> |
    <a href="../../website_evaluations.html" style="color: green; text-transform: uppercase; margin: 0 5px;">WEBSITE EVALUATIONS</a>
</nav>
