<header>
    <h1>Swayam Tripathy Web Solutions | ITIS3135</h1> 
    <nav>
        <ul>
            <li><a href="/SwayamTripathy973/itis3135/index.html">Home</a></li>
            <li><a href="/SwayamTripathy973/itis3135/introduction.html">Introduction</a></li>
            <li><a href="/SwayamTripathy973/itis3135/contract.html">Contract</a></li>
            <li><a href="/SwayamTripathy973/itis3135/stuff/MY_crapPy_paGE.html">Crappy Page</a></li>
            <li><a href="/SwayamTripathy973/itis3135/website-evaluations.html">Website Evaluations</a></li>
            <li><a href="/SwayamTripathy973/itis3135/NewBoardGames/index.html">New Board Games</a></li>
        </ul>
    </nav>
</header>
