<header>
    <h1>Swayam Tripathy Web Solutions | ITIS3135</h1>
    <nav>
        <ul>
            <li><a href="https://swayamtripathy973.github.io/SwayamTripathy973/itis3135/">Home : Specfic Itis 3135 page</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contract.html">Contract</a></li>
            <li><a href="stuff/MY_crapPy_paGE.html">Crappy Page</a></li>
            <li><a href="NewBoardGames/index.html">New Board Games</a></li>
            <li><a href="Tripathywebsolutions.co/index.html">Tripathywebsolutions.co</a></li>
            <li><a href="https://swayamtripathy973.github.io/hobby-site/">Hobby site</a></li>
            <li><a href="MyWebsiteReviews/website_evaluations.html">Website Evaluations</a></li>
            <li><a href="https://swayamtripathy973.github.io/SwayamTripathy973/itis3135/byo_intro.html">BYO Intro</a></li>
            <li><a href="https://swayamtripathy973.github.io/SwayamTripathy973/itis3135/slideshow.html">Slide Show</a></li>
             <li><a href="https://swayamtripathy973.github.io/SwayamTripathy973/itis3135/drawing.html">Slide Show</a></li>

        </ul>
    </nav>
</header>

