<nav style="background-color: lime; padding: 10px; text-align: center; border: 3px dotted magenta;">
    <a href="../../index.html" style="color: yellow; text-decoration: blink; margin: 0 5px; font-family: 'Comic Sans MS';">HOME PAGE</a> |
    <a href="../../introduction.html" style="color: cyan; text-decoration: overline; margin: 0 5px; font-family: Papyrus;">INTRODUCTION</a> |
    <a href="../../contract.html" style="color: red; text-decoration: line-through; margin: 0 5px; font-family: 'Times New Roman';">CONTRACT</a> |
    <a href="../../tables.html" style="color: blueviolet; font-weight: bold; margin: 0 5px;">TABLES</a> |
    <a href="../../forms.html" style="color: orange; font-style: italic; margin: 0 5px;">FORMS</a> |
    <a href="../../website_evaluations.html" style="color: brown; text-transform: uppercase; margin: 0 5px;">WEBSITE EVALUATIONS</a>
</nav>
